<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>CloudCoin Scan &amp; Safe</string>
	<key>CFBundleIdentifier</key>
	<string>com.gitinsky.scansafe.ios</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>8.0</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcon.appiconset</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeDescription</key>
			<string>CloudCoin Stack</string>
			<key>UTTypeIdentifier</key>
			<string>com.gitinsky.scansafe.ios.stack</string>
			<key>UTTypeSize64IconFile</key>
			<string>cloudcoin87</string>
			<key>UTTypeSize320IconFile</key>
			<string>CloudCoinLogoRound</string>
			<key>UTTypeConformsTo</key>
			<array/>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>stack</string>
					<string>zip</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeDescription</key>
			<string>Single CloudCoin</string>
			<key>UTTypeIdentifier</key>
			<string>com.gitinsky.scansafe.ios.coin</string>
			<key>UTTypeSize64IconFile</key>
			<string>Assets.xcassets/AppIcon.appiconset/CloudCoinLogoRound58</string>
			<key>UTTypeSize320IconFile</key>
			<string>Assets.xcassets/AppIcon.appiconset/CloudCoinLogoRound114</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>jpg</string>
					<string>jpeg</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeDescription</key>
			<string>CloudCoin Stack</string>
			<key>UTTypeIdentifier</key>
			<string>com.gitinsky.scansafe.ios.stack</string>
			<key>UTTypeSize64IconFile</key>
			<string>cloudcoin87</string>
			<key>UTTypeSize320IconFile</key>
			<string>CloudCoinLogoRound</string>
			<key>UTTypeConformsTo</key>
			<array/>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>stack</string>
					<string>zip</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeDescription</key>
			<string>Single CloudCoin</string>
			<key>UTTypeSize64IconFile</key>
			<string>Assets.xcassets/AppIcon.appiconset/CloudCoinLogoRound87</string>
			<key>UTTypeSize320IconFile</key>
			<string>Assets.xcassets/AppIcon.appiconset/CloudCoinLogoRound180</string>
			<key>UTTypeIdentifier</key>
			<string>com.gitinsky.scansafe.ios.coin</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>jpg</string>
					<string>jpeg</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>CloudCoin stack</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.gitinsky.scansafe.ios.stack</string>
			</array>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>CloudCoinLogoRound96</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Single CloudCoin</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.gitinsky.scansafe.ios.coin</string>
			</array>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>CloudCoinLogoRound80</string>
			</array>
		</dict>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>UIFileSharingEnabled</key>
	<true/>
</dict>
</plist>
